<div id="page" class="container" xmlns="http://www.w3.org/1999/html">
  <div id="content2">
    <div class="title centered">
      <h1>How to install</h1>

      <div><span class="byline"><strong>Detailed installation guide</strong> </span></div>
      <%= link_to 'Download', 'http://vnenk.orava.sk/tabber.rar', class: "icon icon-arrow-right button" %>
    </div>

    <h3> Install tools</h3>
    <ul class="style2">
      <li class="first"> Extract all files somewhere</li>
      <li> Run <strong>Instaluj.bat</strong></li>
      <li> Register in case you do not have Annota account</li>
      <li> Click <strong>Instaluj</strong></li>
      <li> Click next many times when installation window appears</li>
      <li> Click <strong>Install</strong> when another installation window appears</li>
      <li> Wait 3-5 minutes till everything finish</li>
      <li> Close all Firefox windows</li>
      <li> Start firefox and allow installation of AnnotaT. If you have original Annota already installed, don't worry.
        It can cooperate and you will have 2 Annotas
      </li>
      <li> That's all</li>
    </ul>

    <h3> Anything failed?</h3>
    <ul class="style2">
      <li class="first"> If installation of word addin failed and shows error message
        <strong>.NET 4.0 is not intalled for Visual Studio</strong>, download and install <a href="#">this</a> and run
        again installation with <strong> Mam ucet </strong> choice
      </li>
      <li>If Annota is not installed, install it manually, please. Just drag and drop <strong>AnnotaT.xpi</strong> to
        Firefox. It is located in <strong>Release/Extension</strong> folder
      </li>
      <li> If anything failed, contact me at <strong>Lubomir.Vnenk@zoho.com</strong></li>
    </ul>


    <h3> Verify if everything is OK</h3>
    <ul class="style2">
      <li class="first"> Tabber icon should appear in notification area</li>
      <li> New tab should appear in Microsoft Word with option <strong>Chcem sa logovat</strong></li>
      <li> Search something on Google</li>
      <li> Google search page should look different</li>
      <li> Log in Annota, if asked to</li>
      <li> Search something different</li>
      <li> List of websites should appear</li>
      <li> Search something different again</li>
      <li> List of desktop applications should appear</li>
      <li> After reboot, Tabber should again appear in notification area. If not, contact me</li>
    </ul>

    <h3> Uninstallation guide</h3>
    <ul class="style2">
      <li class="first"> Coming soon</li>
    </ul>


  </div>
</div>