<div id="page" class="container">
  <div id="content2">
    <div class="title centered">
      <h1>Your privacy is our top priority</h1>
    <span class="byline">More info coming soon, but don't worry. Your data are safe</span></div>
    </div>
  </div>
</div>