<div id="page" class="container">
  <div id="content">
    <div class="title">
      <h2>Working features</h2>
      <span class="byline">Features already implemented and ready to use</span></div>
    <p>We already made things to help you and motivate you to install and use our tools. Our top priority is to help you
      and, so we have already implemented few things that may ease your work with browser.</p>
    <ul class="style3">
      <li id="Annota" class="first">
        <h3><em><%= image_tag(asset_path('annota.png'), width: 100, height: 100, class: "alignleft border") %> </em>Annota
        </h3>

        <p>Annota is a service, that allows you to create and share bookmarks. Get all your bookmarks with your notes in
          one place. Add tags to bookmarks for easier search and revision. Create bookmarks and notes in your browser
          extension and manage your library on the web. </p>

        <p>Insert annotations into web pages and into PDF documents with the same tool. Do you use Mendeley? No problem.
          You can continue to do so, import and synchronize your documents with Annota. Annota comes with Firefox
          extension that lets you create and share bookmarks, insert tags, highlight text and comment it while you
          browse the web. <a href="http://annota-test.fiit.stuba.sk/best_pages/about" target="_blank">Read More</a></p>
      </li>

      <li id="Translate">
        <h3>Added translate button </h3>

        <p>Google has removed translate button and it became hard to find it and use it. Thanks to extension, we added
          that button back</p>
        <em><%= image_tag(asset_path('add_button.png'), width: 800, height: 220, class: "alignleft border") %> </em>

        <p>&nbsp; </p>
      </li>
    </ul>
    <div class="title">
      <h2>Future features</h2>
      <span class="byline">To be released soon</span></div>
    <p>The best features are also the hardest to make and they became my top priority just recently, so it is going to
      take some time to make and released them. However they will be very powerful and useful, so stay tuned, use the
      tools and the sweet reward will be yours </p>
    <ul class="style3">
      <li id="Query" class="first">
        <h3>Query expansion </h3>

        <p>The best of best feature helps you search more precise and sofistic. The usual query consists of 2-3
          keywords,
          so it may have many different meanings and Google is not sure, which meaning is yours desired. We expand your
          query by keywords related or similar to your meaning of query, so Google will have more specific query and
          will
          show results close to your desired meaning of query.</p>
      </li>
      <li id="Activity">
        <h3>Activity tracker</h3>

        <p>We log your activity, so we can show it to you too. All data about how much time you spent in an
          application and when will be graphically processed to give you the most useful information about your time
          spent on computer. It may be useful, if you want to analyse how much you worked on projects, how much time
          you procrastinated, etc. It will be very nicely modificable and will look really nice.</p>
      </li>
      <li id="Beer">
        <h3><em><%= image_tag(asset_path('budwar.jpg'), width: 100, height: 250, class: "alignleft border") %> </em>
          Beer
        </h3>

        <p>The best reward last. If I will get enough data, one of the best Czech beer is yours and you agree,
          that all hard work was be worth it while degusting this precious and irreplaceable drink.</p>
      </li>


    </ul>
  </div>

  <div id="sidebar">

    <div class="box2">
      <div class="title">
        <h2>Content</h2>
      </div>
      <ul class="style2">
        <li><a href="#">Menu</a></li>
        <li><a href="#Annota">Annota</a></li>
        <li><a href="#Translate">Added translate button</a></li>
      </ul>
      <ul class="style2">
        <li><a href="#Query">Query expansion</a></li>
        <li><a href="#Activity">Activity tracker </a></li>
        <li><a href="#Beer">Beer</a></li>

      </ul>
    </div>
  </div>

</div>